---
---

@import "jekyll-theme-minimal";

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 100%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 20px;
  color: white;
}
.button:hover span:after{
  opacity: 1;
  right: 0;
}

.button-hover {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 120px;
    height: 25px;
    border-radius: 8%;
}
.button-hover {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button-hover:hover {
  background-color: #ACACAC;
  color: white;
}

li {
  display: inline-block;
} 

ul {
  background: white;
}

header li {
  height: 50px;
}

th {
  padding: 2px 2px; 
}

th, td {
  border-bottom: 0px;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 12px;
  height: 12px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  display: inline-block;
  line-height: 10px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-bitbucket {
  background: white;
  color: black;
}


