---
---

@import "jekyll-theme-minimal";

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: gray;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 100%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 20px;
  color: white;
}
.button:hover span:after{
  opacity: 1;
  right: 0;
}

.button-hover {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 1px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 130px;
    height: 25px;
    border-radius: 8%;
}

.button-hover {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button-hover:hover {
  background-color: #ACACAC;
  color: white;
}

.button-hover-large {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 130px;
    height: 50px;
    border-radius: 8%;
}
.button-hover-large {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
.button-hover-large:hover {
  background-color: #ACACAC;
  color: white;
}

.button-hover-main {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 1px 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 130px;
    height: 25px;
    border-radius: 8%;


    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}

.button-hover-main {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;


    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}
.button-hover-main:hover {
  background-color: #ACACAC;
  color: white;
}

.button-hover-large-main {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 130px;
    height: 50px;
    border-radius: 8%;


    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}
.button-hover-large-main {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;


    -webkit-transition: background .1s linear;
    -moz-transition: background .1s linear;
    -ms-transition: background .1s linear;
    -o-transition: background .1s linear;
    transition: background .1s linear;
}
.button-hover-large-main:hover {
  background-color: #ACACAC;
  color: white;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 12px;
  height: 12px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
  display: inline-block;
  line-height: 10px;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-bitbucket {
  background: white;
  color: black;
  border-width: 0.5px;
  border-color: gray;
  border-style: solid;
  height: 10px;
  width: 11.5px;
}

.fa-envelope {
  background: white;
  color: black;
  padding-left: 2px;
  padding-right: 8px;
}

.fa-home {
  background: white;
  color: black;  
  padding-left: 0px;
  padding-right: 15px;
  font-size: 26px;
}

.fa-download {
  background: white;
  color: black;
  font-size: 35px;
}

.fa-external-link {
  background: white;
  color: black;
}

ul {
  background: white;
}

header li {
  height: 50px;
}

th {
  padding: 2px 2px; 
}

th, td {
  border-bottom: 0px;
}

a:hover, a:focus {
  font-weight: inherit;
}

hr { 
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 100%;
} 

h1 {
  margin: 0 0 5px
}
h2 {
  margin: 0 0 5px
}

blockquote {
  font-style: normal
}

.accordion{
  display: inline-block;
  text-align: left;
  margin: 0%;
  width: 100%;

  &:hover{

    // max-height technique
    .accordion-content{
      // If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.
      max-height: 300px;
    }

  }
}

.accordion-content{
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  overflow: hidden;
  // "height: 0" not work with css transitions
  max-height: 0;
}

.accordion-inner{
}

.accordion-toggle{
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
  display: block;

  &:hover{
    background: darken(#00b8c9, 15%);
  }

}
