<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links
        $('a[href*="#"]').on('click', function(event) {

          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "" && this.href.indexOf(window.location.href.split("#")[0]) > -1) {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
          } // End if
        });
      });
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> 
    <link rel="stylesheet" href="/assets/css/academicons.min.css"/> 
    
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <table style="width: 170px">
          <tr>
            <th><a href="https://orcid.org/0000-0002-2821-0072" class="ai ai-orcid" style="font-size: 25px; padding-left: 8px; color:#a3d13a; border-width: 0.5px; border-color: gray; border-style: solid; height: 33px; width: 33px; font-size: 23px; padding-top: 8px;" target="_blank"></a></th> 
            <th><a href="https://www.linkedin.com/in/luca-scimeca/" class="fa fa-linkedin" target="_blank"></a></th>
            <th><a href="https://bitbucket.org/lucascimeca/" class="fa fa-bitbucket" target="_blank"></a></th> 
            <th><a href="{{ site.github.owner_url }}" class="fa fa-github" target="_blank"></a></th>
          </tr>
        </table></br>
        <table style="width: 200px">
          <tr>
            <th><a href="mailto:ls769@cam.ac.uk" class="fa fa-envelope"></a></a></th>
            <th>ls769@cam.ac.uk</th>
          </tr>
          <tr>
            <th><a href="https://www.google.co.uk/maps/place/Robinson+College/@52.2070649,0.0980746,13.5z/data=!4m5!3m4!1s0x0:0xd53fc9646c4ca42e!8m2!3d52.204233!4d0.105513" class="fa fa-home" target="_blank"></a></a></th>
            <th>Robinson College </br>Grange Rd, </br>Cambridge CB3 9AN, </br>United Kingdom</th>
          </tr>
        </table></br>

        <div class="accordion">
        <table style="width: 250px">
          <tr>
            <th colspan="2" style="align:center; padding-bottom:8px"><a href="https://lucascimeca.github.io/" class="button-hover-main" style="vertical-align:middle; padding: 5px 5px 5px 5px">Home</a></th>
          </tr>
        </table>
        <div class="accordion-content">
          <div class="accordion-inner">
            <table style="width: 250px">
              <tr>
                <th rowspan="3" colspan="1" style="text-align: center; vertical-align:top; padding-top:0px; padding-left:20px" width="70px">
                    <img src="../docs/link1.png" align="center" height="90" width="60">
                </th>
                <th colspan="2"
                    style="font-weight:normal"><a href="https://lucascimeca.github.io/#-intro_img" class="button-hover" style="vertical-align:middle">Introduction</a> </th></tr>
              <tr><th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/#-research" class="button-hover" style="vertical-align:middle">Research</a> </th></tr>
              <tr><th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/#-misc" class="button-hover" style="vertical-align:middle">Misc</a> </th></tr>
            </table>
            </div>>
          </div>>
        </div>>

        <div class="accordion">
        <table style="width: 200px">
          <tr>
            <th colspan="2" style="align:center; padding-bottom:8px"><a href="https://lucascimeca.github.io/publications" class="button-hover-large-main" style="vertical-align:middle; padding: 5px 5px 5px 5px">Publications </br>& Projects</a></th>
            <td></td>
          </tr>
        </table>
        <div class="accordion-content">
          <div class="accordion-inner">
            <table style="width: 200px">
              <tr>
                <th rowspan="2" colspan="1" style="text-align: center; vertical-align:top; padding-top:0px; padding-left:20px" width="70px">
                    <img src="../docs/link2.png" align="center" height="65" width="60"></th>
                <th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/publications#-publications---" class="button-hover" style="vertical-align:middle">Publications </a> </th></tr>
              <tr><th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/publications#-projects" class="button-hover" style="vertical-align:middle">Projects</a> </th></tr>
            </table>
            </div>>
          </div>>
        </div>>

        <div class="accordion">
        <table style="width: 200px">
          <tr>
            <th colspan="2" style="align:center; padding-bottom:8px"><a href="https://lucascimeca.github.io/responsibilities" class="button-hover-large-main" style="vertical-align:middle; padding: 5px 5px 5px 5px">Roles & Responsibilities</a> </td></th>
            <td></td>
          </tr>
        </table>
        <div class="accordion-content">
          <div class="accordion-inner">
            <table style="width: 200px">
              <tr>
                <th rowspan="2" colspan="1" style="text-align: center; vertical-align:top; padding-top:0px; padding-left:20px" width="70px">
                    <img src="../docs/link3.png" align="center" height="65" width="60"></th>
                <th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/responsibilities#-work" class="button-hover" style="vertical-align:middle">Work</a> </th></tr>
              <tr><th colspan="2" style="font-weight:normal"><a href="https://lucascimeca.github.io/responsibilities#-accademic-services" class="button-hover" style="vertical-align:middle; height:48px">Academic Services</a> </th></tr>
              <!--   <tr><a href="https://lucascimeca.github.io/curriculum-vitae" class="button-hover-large" style="vertical-align:middle">Curriculum Vitae</a></tr>  -->
            </table></br>
            </div>
          </div>>
        </div>>

      </header>
      <section>

      {{ content }}

      </section>


    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


<!--   {% if site.google_analytics %} -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
  </script>
<!--   {% endif %} -->
  </body>
</html>
